@mixin clr () {
    &::before{
        content: "";
        display: inline-block;
        clear: both;
    }
}

@mixin pc () {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin tablet () {
    @media (max-width: 1199px) {
        @content;
    }
}

@mixin mobile () {
    @media (max-width: 767px) {
        @content;
    }
}

@function vw($vw,$size:1200px){
	@return ($vw / $size) * 100vw;
}

@function per($per,$size:1200px){
	@return ($per / $size) * 100%;
}